@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

.MenuIcon {
  width: 100vh;
  height: auto;
  margin-top: -20vh;
}
.Footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 7vmin;
  font-family: 'Roboto', sans-serif;
}

input {
  text-align: center;
}

.custom-input {
  width: 150px; /* Adjust the width as needed */

}

/* Update the background colors based on Figma frames */



.diagonal-section {
  flex: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom right,
    rgba(255, 170, 90, .8) 0%,
    rgba(255, 170, 90, 1) 10%, /* Adjust the stop to make the colored section wider */
    black 45%, /* Adjust the stop to make the black section slimmer */
    black 55%, /* Adjust the stop to make the black section slimmer */
    rgba(255, 120, 90, 1) 90%, /* Adjust the stop to make the colored section wider */
    rgba(255, 120, 90, .8) 100%
  );
  /* Adjust the stops for a smoother transition */
  padding: 10rem 20%;
  position: relative;
  z-index: 0;
}

.custom-button {
  background-color: white;
  color: black; /* Change the text color as needed */
  border: 2px solid yellow; /* Yellow outline */
  font-family: 'Roboto', sans-serif;
  text-align: center;
}



