@import '~bootstrap/dist/css/bootstrap.min.css';

.Landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 5vmin;
  font-family: 'Roboto', sans-serif;

}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MenuIcon {
  width: 100vh;
  height: auto;
  margin-top: -30vh;
}

.Footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 7vmin;
  font-family: 'Roboto', sans-serif;
}

input {
  text-align: center;
}

.custom-input {
  width: 150px; /* Adjust the width as needed */
}

/* Update the background colors based on Figma frames */

